{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    ".wrapper {\n",
    "    display: flex;\n",
    "}\n",
    "\n",
    "#main-section {\n",
    "    overflow: hidden; /* Makee this div contain its floated children */\n",
    "    width: 100%;\n",
    "}\n",
    "\n",
    "#sidebar {\n",
    "    margin-top: 2em;\n",
    "    float: left; /* Make this div as wide as its contents */\n",
    "    min-height: 96vh;\n",
    "    padding-left: 1em;\n",
    "    padding-top: 3em;\n",
    "    padding-right:1em;\n",
    "    border-right: 0.5px solid #898c91;\n",
    "}\n",
    "\n",
    "#sidebar p {\n",
    "    padding-left: 2em;\n",
    "    padding-right:2em;\n",
    "}\n",
    "\n",
    "#sidebar p:hover {\n",
    "    background-color: #ffc107;\n",
    "}\n",
    "\n",
    "#sidebar h4 {padding-left: 0.5em;}\n",
    "\n",
    "\n",
    "#sidebar.view-sidebar {display: none;}\n",
    "\n",
    "#show-sidebar-button {\n",
    "    visibility: hidden;\n",
    "    opacity: 0;\n",
    "    transition: visibility 0s, opacity 0.5s;\n",
    "    color: #335177;\n",
    "}\n",
    "\n",
    "@media (max-width: 567px) {\n",
    "    #sidebar {\n",
    "        display: none;\n",
    "    }\n",
    "\n",
    "    #sidebar.view-sidebar {\n",
    "        display: block;\n",
    "    }\n",
    "\n",
    "    #show-sidebar-button {\n",
    "        visibility: visible;\n",
    "        opacity: 1;\n",
    "    }\n",
    "}\n",
    "\n",
    "\n",
    ".cursor-pointer {\n",
    "    cursor: pointer;\n",
    "}\n",
    "\n",
    "#rightside-pannel {\n",
    "    overflow: hidden; /* Make this div take up the rest of the horizontal space, and no more */\n",
    "}\n",
    "\n",
    "#display-message-section {\n",
    "    margin-top: 5em;\n",
    "    min-height: 82vh;\n",
    "    max-height: 82vh;\n",
    "    overflow-y: auto; /*Make  this section scrolable */\n",
    "}\n",
    "\n",
    "#input-area {\n",
    "    padding-left: 1em;\n",
    "    padding-right: 1em;\n",
    "    bottom: 0;\n",
    "}\n",
    "\n",
    "input[type=text]:focus{\n",
    "    border-color: #ffc107;\n",
    "    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px #ffc107;\n",
    "}\n",
    "\n",
    "@keyframes fadeIn {\n",
    "  0% {opacity: 0;}\n",
    "  100% {opacity: 1;}\n",
    "}\n",
    "\n",
    ".others-msg {\n",
    "    margin-right:7em;\n",
    "    margin-left: 1em;\n",
    "    padding: 0.5em 0.5em 0.5em 1em;\n",
    "    border-radius: 5px;\n",
    "    border-color: grey;\n",
    "    border-width: 0.5px;\n",
    "    border-style: solid;\n",
    "    background-color: #C2DBFB;\n",
    "    /* animation */\n",
    "    animation-name: fadeIn;\n",
    "    animation-duration: 0.75s;\n",
    "    animation-fill-mode: forwards;\n",
    "    animation-timing-function: ease-in-out;\n",
    "}\n",
    "\n",
    ".my-msg {\n",
    "    margin-left:7em;\n",
    "    margin-right:1em;\n",
    "    padding: 0.5em 0.5em 0.5em 1em;\n",
    "    border-radius: 5px;\n",
    "    border-color: #206ED2;\n",
    "    border-width: 1px;\n",
    "    border-style: solid;\n",
    "    /* animation */\n",
    "    animation-name: fadeIn;\n",
    "    animation-duration: 0.75s;\n",
    "    animation-fill-mode: forwards;\n",
    "    animation-timing-function: ease-in-out;\n",
    "}\n",
    "\n",
    ".system-msg {\n",
    "    margin-right:7em;\n",
    "    margin-left: 1em;\n",
    "    padding: 0.5em 0.5em 0.5em 1em;\n",
    "    color: #656d78;\n",
    "    font-size:0.9em;\n",
    "}\n",
    "\n",
    ".timestamp {\n",
    "    color: #656d78;\n",
    "    font-size:0.7em;\n",
    "}\n",
    "\n",
    ".other-username {\n",
    "    font-weight: bold;\n",
    "    font-size: 1.1em;\n",
    "    color: #206ED2;\n",
    "}\n",
    "\n",
    ".my-username {\n",
    "    font-weight: bold;\n",
    "    font-size: 1.1em;\n",
    "    color: #FF6B13;\n",
    "}\n",
    "\n",
    "#msg-input {\n",
    "    border-color: #ffc107;\n",
    "    border-width: 5px;\n",
    "}\n",
    "\n",
    "#get-username {\n",
    "    display: none !important;\n",
    "}"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 4
}
